@black: #000000;
@glow-green: #19FF81;
@dark-gradient-green: #041607;
@light-gradient-green: #11581E;
@transparent: rgba(0,0,0,0);

@font-face {
  font-family: 'Monofont';
  src: url('../fonts/monofont.ttf');
}
html {
    min-height: 100%;
}
body {
  font-family: 'Monofont', Helvetica, sans-serif;
  height:100%;
  font-size: 2vw;
  color: @glow-green;
  background-color: @black;
  background-image:
    radial-gradient(
      @light-gradient-green,
      @dark-gradient-green
    );
}

#app{
  position: absolute;
  height: 100%;
  width: 100%;
}

.container{
  padding: 3%;
  height: 100%;
  box-sizing: border-box;
}

.header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  > *:not(.stats) {
    flex: 1;
    margin: 0 10px;
    padding: 0 10px 0 0;
    border-top: 2px solid;
    .fade-border(bottom, right);
  }

  .stats {
    flex: 3;
    display: flex;
    flex-flow: row nowrap;
    .separator {
      border-top: 2px solid;
      flex: 5;
      &.left-side{
        .fade-border(bottom, left);
      }
      &.right-side{
        .fade-border(bottom, right);
      }
    }
    .title {
      font-size: 1.3em;
      letter-spacing: 6px;
      margin-top: -2vh;
      text-align: center;
      flex: 4;
    }
  }
  .label{
    float: left;
  }
  .value {
    float: right;
  }
}

.footer {
  position: absolute;
  bottom: 3%;
  width: 93%;

  .container-bottom {
    display: flex;
    flex-flow: row nowrap;

    .separator, .separator-small{
      border-bottom: 2px solid;
      margin-bottom: 15px;
    }

    .separator{
      flex: 4;
      &.left-side{
        .fade-border(top, left);
      }
      &.right-side{
        .fade-border(top, right);
      }
    }

    .separator-small{
      flex: 1;
    }

    .push-up{
      margin-bottom: 15px;
    }

    .menu-option{
      padding: 0 15px;
      margin-top: 15px;

      &:hover, &.active {
        cursor: pointer;
        outline: 2px solid;
        background: fade(@glow-green, 20%);
      }
    }
  }


}

.main-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;

  .list-view {
    flex: 11;
    .menu-option{
      padding: 0 15px;
      margin-top: 15px;
      list-style: none;

      &:hover, &.active {
        cursor: pointer;
        outline: 2px solid;
        background: fade(@glow-green, 20%);
      }
    }

  }
  .main-view {
    flex: 12;
    margin: 15px;
    .container-main{
      position: relative;
      .center{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -15%;
        transform: translate(-50%, 33%);
      }
    }
    .title {
      font-size: 1.6em;
    }
    .value {
      font-size: 2.5em;
    }
    .description{
      border-top: 2px solid;
      .fade-border(bottom, right);
      background-position: 100% 0%;
      position: absolute;
      bottom: 17%;
      width: 48%;
    }
  }
}

.fade-border(@direction: top, @float: left){
  background-image: linear-gradient(to @direction, @glow-green, @transparent);
  background-repeat: no-repeat;
  background-size: 3px 5vh;
  background-position: @float;
}

.overlay {
    background: -webkit-repeating-linear-gradient(-90deg, @transparent 0, rgba(0,0,0,0.3) 50%, @transparent 100%);
    background: -moz-repeating-linear-gradient(180deg, @transparent 0, rgba(0,0,0,0.3) 50%, @transparent 100%);
    background: repeating-linear-gradient(180deg, @transparent 0, rgba(0, 0, 0, 0.3) 50%, @transparent 100%);
    -webkit-background-size: auto 6px;
    background-size: auto 6px;
    position: absolute;
    width: 100%;
    height: 100%;
}
